$pallet1: #0f0a3c;
$pallet2: #07456f;
$pallet3: #009f9d;
$pallet4: #cdffeb;

$logout: #700d0d;
$add: #155c27;
$add-dark: #123f11;

$dark-1: #141414;
$dark-2: #262727;
$dark-3: #444343;
$dark-4: #303030;
$dark-5: #5f5f5f;

$font: #dbd7d7;
$close: #cc3a3a;
$message: #488119;
$message-diff: #383737;
$notif: #a36412;